{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <title>Flashcard editor</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        
        <link rel="stylesheet" href="{% static "flashcard.css" %}"/>

        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="flashcard container">
            <div class="text-right return-link">
                <a href="{% url 'admin:index' %}">Home</a> / <a href="{% url 'admin:app_list' 'kkma' %}">kkma</a> / <a href="{% url 'admin:kkma_example_changelist' %}?{{filter_link}}">Example</a>
            </div>
            {% if object %}
            <div class="content">
                {{object.content|safe}}
            </div>
            <div>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{form.category}}
                </form>
            </div>
            <div class="detail-content">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="detail_header">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#detail_pannel" aria-expanded="true" aria-controls="detail_pannel">
                                Show detail and links
                                </a>
                            </h4>
                        </div>
                        <div id="detail_pannel" class="panel-collapse collapse" role="tabpanel" aria-labelledby="detail_header">
                            <div class="panel-body">
                                {{object.context_link}} | {{object.detail_link}}
                                {{object.detail|safe}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="content text-center">
                The End!!!
            </div>
            {% endif %}
            <div class="footer">
                <div class="row">
                    <div class="col-xs-3">
                        {% if prev_link %}
                        <a class="btn-prev" href="?{{prev_link}}">&lt;&lt; Prev</a>
                        {% endif %}
                    </div>
                    <div class="col-xs-6">
                        {% if object %}
                            {{ index|add:1 }} / {{ total }}
                        {% endif %}
                    </div>
                    <div class="col-xs-3">
                        {% if next_link %}
                        <a class="btn-next" href="?{{next_link}}">Next &gt;&gt;</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script>
            $('.flashcard form input[type="radio"]').change(function(){
                $('.flashcard form').submit();
            });
            
            $(document).keydown(function( event ) {
                if (event.keyCode == 13 || event.keyCode == 39) {
                    $('.btn-next').get(0).click();
                    console.debug($('.btn-next').get(0))
                }
                
                if (event.keyCode == 37) {
                    $('.btn-prev').get(0).click();
                }
            });
        </script>
    </body>
</html>